.navbar {
    background: rgba(255, 255, 255, 0) !important;
}

.container {
    padding: 0 5%;
}

.c-wep {
    padding: 0 15%;
}

.btn-wep {
    border: 2px solid orange;
    padding: 2px 30px 5px 30px;
    border-radius: 15px;
    color: #fff;
    background: rgb(45, 45, 133);
    transition: all 0.1s ease-in-out;
    margin-bottom: 2px;

    box-shadow: 0px 2px 0px 0px rgba(45,45,133,1);
    -webkit-box-shadow: 0px 2px 0px 0px rgba(45,45,133,1);
    -moz-box-shadow: 0px 2px 0px 0px rgba(45,45,133,1);
}

.btn-wep:active {
    margin-top: 2px;
    margin-bottom: 0;
    box-shadow: 0px 0px 0px 0px rgba(45,45,133,1);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(45,45,133,1);
    -moz-box-shadow: 0px 0px 0px 0px rgba(45,45,133,1);
}

.btn-large {
    text-transform: uppercase;
    font-size: 2em;
    font-weight: bold;
}



#home {
    margin-top: -65px;
    background: #ddeded;
    background: url('../img/bg-home.webp');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat ;
    height: 150vh;
}

.bg-title {
    width: 80%;
    margin-left: -100px;
}

.h-desc {
    margin-top: -220px;
    font-size: 1.8em;
    padding-bottom: 30px;
}

.div-home {
    position: absolute;
    width: 100%;
    margin-top: -500px;
    right: 0;
    display: none;
}

#overview {
    height: 100vh;
    background: red;
}

.o-desc {
    font-size: 1.4em;
    letter-spacing: 1.1px;
    line-height: 1.25;
    text-align: justify;
}